<% @user ||= current_user %>
<%= link_to gravatar_for(@user, size: Settings.gravatar_size_user), @user %>
<h1><%= @user.name %></h1>
<span><%= link_to t("link_profile"), @user %></span>
<span><%= t "micropost.count", count: @user.microposts.count %></span>
